/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: #f4f5f7;
}

h1 {
  font-size: 3.32rem;
  font-weight: 600;
  line-height: 1;
}

h2 {
  font-size: 2.76rem;
  font-weight: 400;
  line-height: 1.1;
}
h3,
.blog-titulopost,
.rodape-titulo {
  font-size: 2.3rem;
  line-height: 1.2;
}

strong {
  font-weight: 600;
}

ul {
  list-style: none;
}

input {
  padding: 1.02rem;
  background-color: white;
  box-shadow: inset 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 0.8rem;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #404040;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #757575;
}

.secao {
  padding: 7.63rem 2rem;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

a:link,
a:visited {
}

/* a:hover,
a:active {
  color: #ff6600;
} */

.hero-botao {
  color: white;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
  border: 0;
  border-bottom: solid 0.4rem #993c38;
  border-right: solid 0.4rem #993c38;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
  transition: ease-in 100ms;
  transition-property: border;
  background-image: linear-gradient(180deg, #ff645e, #ff9253);
}

.hero-botao:hover {
  background-color: #ff9253;
  background-image: none;
  border-bottom: solid 0.4rem #ff9253;
  border-right: solid 0.4rem #ff9253;
  color: white;
}

.container-diferenciais,
.container-blog {
  border-radius: 5rem;
  box-shadow: inset 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
}

.botao {
  display: inline-block;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  border-radius: 3rem;
  padding: 0.65rem 2.5rem;
  color: white;
  box-shadow: 0 0.21rem 0.8rem rgba(0, 0, 0, 0.15);
  border: 0;
  border-bottom: solid 0.4rem #993c38;
  border-right: solid 0.4rem #993c38;
}

.realce-semibold {
  font-weight: 600;
}

.hero-paragrafo,
.comoajudar-lista,
.comoajudar-paragrafo,
.diferenciais-p,
.rodape-subtitulo {
  font-size: 1.92rem;
  line-height: 1.3;
}

.caixa-gratuito-h3,
.caixa-blog-h2 {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-block;
  padding: 0.42rem 1.6rem;
  color: white;
  border-radius: 1rem;
  transform: rotate(-3deg) translate(-50%, -50%);
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
}

/* Cabeçalho */
.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: white;
  padding: 1.6rem 3.12rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.item-lista-cabecalho a {
  color: #112e61;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.item-lista-cabecalho a:hover,
.item-lista-cabecalho a:active {
  color: #ff6600;
}

.item-lista-cabecalho.contem-filhos::after {
  content: "\2bc6";
}

.contem-filhos {
  position: relative;
}
.contem-filhos ul {
  display: flex;
  position: absolute;
  background-color: white;
  padding: 2rem;
  border-radius: 2.5rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15),
    inset 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.1);
}

.contem-filhos ul li {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding: 0.41rem 2rem;
}

.contem-filhos ul li:last-child {
  border-bottom: none;
}

/* .contem-filhos:hover ul {
  display: block;
} */

/* Seção Hero */

.secao-hero {
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-01.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.iframe-video {
  display: none;
  aspect-ratio: 16/9;
  width: 42rem;
  height: auto;
  border-radius: 2.5rem;
}

.hero-botao {
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
}

/* Seção Conteúdos Gratuitos */

.secao-conteudos {
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-02.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.circulo-logo-curso {
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #e7e7e7;
  border-radius: 50%;
  padding: 1.02rem;
  box-shadow: inset 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.15);
}

.circulo-logo-curso img {
  width: 100%;
}

.img-conteudos {
  width: 44rem;
}

.caixa-cursos-hashtag {
  /* nesse box-shadow a borda foi colocada internamente com a utilização do inset  */
  box-shadow: inset 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.15);
  border-radius: 2.5rem;
  padding: 2rem;
  position: relative;
}

.gratuito-realce {
  color: #7a40be;
  font-weight: 600;
}

.gratuito-h3 {
  font-weight: 700;
}

.gratuito-link-lista:link,
.gratuito-link-lista:visited {
  display: inline-block;
  padding: 0.42rem 3.12rem;
  border-radius: 2.5rem;
  background-color: #eee;
  font-size: 1.92rem;
  text-decoration: none;
  line-height: 1.3;
  box-shadow: inset 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.15);
  color: inherit;
}

.gratuito-link-lista:hover,
.gratuito-link-lista:active {
  text-decoration: underline;
}

.gratuito-link-lista img {
  width: 1.8rem;
}
/* Seção Diferenciais   */

.secao-diferenciais {
  background-color: #f4f5f7;
}

.container-diferenciais {
  background-color: white;
}
.caixa-titulo-diferenciais {
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding: 4.88rem;
  color: white;
  background-image: linear-gradient(225deg, #196b9f, #1a82a7);
}

.caixa-restante-diferenciais {
  padding: 4.88rem !important;
}

.caixa-itens-diferenciais {
  position: relative;
  border-radius: 2.5rem;
  background-color: white;
  box-shadow: 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.1);
  padding: 3.12rem 2.5rem;
}

.caixa-imagem-diferenciais {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background-color: #ffaf00;
  border-radius: 1.25rem;
  width: 10rem;
  height: 10rem;
  padding: 1.6rem;
  box-shadow: inset 0 0 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
}

.caixa-imagem-diferenciais img {
  width: 100%;
}

.diferenciais-empresas img {
  height: 5rem;
  filter: grayscale(100%);
}

.logo-loreal,
.logo-animale,
.logo-disney,
.logo-subsea {
  opacity: 60%;
}

.caixa-diferenciais-h2 {
  border-left: solid 0.5rem #ffb20f;
  padding: 0.52rem 0 0.52rem 1.6rem;
}

.diferenciais-h3 {
  color: #005e88;

  font-weight: 600;
}

.diferenciais-h3-empresas {
  font-weight: 400;
}

.diferenciais-h3-empresas a {
  color: #005e88;
  font-weight: 700;
  text-decoration: none;
}

/* Seção O que falam */
.secao-oquefalam {
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-04.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.oquefalam-titulo {
  color: white;
}

.oquefalam-carrossel {
  position: relative;
}

.oquefalam-carrossel-img {
  cursor: pointer;
  background-color: #7489af;
  background-blend-mode: multiply;
  position: relative;
  display: inline-block;
  background-position: 50%;
  background-size: cover;
  aspect-ratio: 16/9;
  width: 33%;
  border-radius: 2.5rem;
}

.oquefalam-carrossel-img--1 {
  background-image: url(https://i3.ytimg.com/vi/N_EZD04zmrw/hqdefault.jpg);
}

.oquefalam-carrossel-img--2 {
  background-image: url(https://i3.ytimg.com/vi/auqWeBJLJHY/hqdefault.jpg);
}

.oquefalam-carrossel-img--3 {
  background-image: url(https://i3.ytimg.com/vi/FD79IpCaM1Y/hqdefault.jpg);
}

.oquefalam-seta {
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.seta--esquerda {
  transform: translate(-150%, -65%);
  left: 0;
}

.seta--direita {
  transform: translate(160%, -65%);
  right: 0;
}

.seta-player {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3rem;
}

.item-navegacao {
  cursor: pointer;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #86a8bc;
}

.ativa {
  background-color: #14577f;
}

.botao-oquefalam {
  background-image: linear-gradient(180deg, #196c9f, #1a80a7);
  border-bottom-color: #14577f;
  border-right-color: #14577f;
}

.botao-oquefalam:hover {
  background-color: #1a80a7;
  background-image: none;
  border-bottom-color: #1a80a7;
  border-right-color: #1a80a7;
  color: white;
}

/* Seção Na mídia */
.secao-namidia {
  padding-top: 3.9rem;
  padding-bottom: 3.9rem;
  background-image: url(https://www.hashtagtreinamentos.com/wp-content/uploads/2022/06/BACKGROUND-Banner-05_1.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.seta-namidia,
.h2-namidia {
  display: inline-block;
}
/* Seção conteúdos gratuitos */

h2 {
  font-weight: 400;
  font-size: 2.76rem;
  line-height: 1.1;
}
.gratuito-h2 {
  font-weight: 400;
  font-size: 3.5rem;
}
.gratuito-realce {
  color: #7a40be;
  font-weight: 600;
}

.gratuito-h3 {
  font-size: 2.3rem;
  font-weight: 700;
}

.gratuito-link-lista {
  font-size: 1.92rem;
  text-decoration: none;
}

/* Seção de diferenciais */

.diferenciais-h2 {
  font-size: 3.5rem;
  font-weight: 400;
}

.diferenciais-h2 strong {
  font-weight: 700;
}

.diferenciais-p {
  font-size: 1.92rem;
}
.diferenciais-h3 {
  color: #005e88;
  font-size: 2.4rem;
  font-weight: 600;
}
/* Seção blog da hashtag */
.secao-blog {
  background-color: #f4f5f7;
}

.container-blog {
  position: relative;
  background-color: #f9f9f9;
  padding: 4.88rem;
}

.caixa-gratuito-h3 {
  background-image: linear-gradient(90deg, #aa56e6, #6d42b9);
}

.caixa-blog-h2 {
  width: max-content;
  padding: 1.2rem 3.12rem;
  background-image: linear-gradient(90deg, #feb914, #f6a50b);
}

.caixa-postblog {
  display: inline-block;
  border-radius: 2.5rem;
  box-shadow: inset 0 0 0.4rem 0.15rem rgba(0, 0, 0, 0.15);
  padding: 2rem;
  width: 49%;
  background-color: #fff;
}

.caixa-postblog img {
  width: 100%;
}

.blog-postadoem {
  font-size: 1.3rem;
  line-height: 1.5;
}

.blog-postadoem a {
  font-weight: 600;
  color: #f7a70c;
  text-decoration: none;
}

.blog-titulopost {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

/* Como posso ajudar */
.secao-comoajudar {
  padding: 0;
}
.secao-sec-laranja {
  background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUND-banner-07.webp);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.secao-sec-laranja,
.secao-sec-cinza {
  padding: 7.63rem 2rem;
}
.caixa-comoajudar-h2 {
  display: inline-block;
  padding: 0.42rem 1.6rem;
  color: white;
  border-radius: 1rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(90deg, #14a1d5, #1a8ad4);
}

.caixa-comoajudar-lista {
  background-color: #f9f9f9;
  border-radius: 2.5rem;
  box-shadow: inset 0 0 0.8rem 0.15rem rgba(0, 0, 0, 0.15);
  padding: 2.5rem;
}

.realce-semibold {
  font-weight: 600;
}

.caixa-comoajudar-lista a:link,
.caixa-comoajudar-lista a:visited,
.comoajudar-paragrafo a:link,
.comoajudar-paragrafo a:visited {
  color: #008ff7;
  font-weight: 600;
}

.caixa-comoajudar-lista a:hover,
.caixa-comoajudar-lista a:active,
.comoajudar-paragrafo a:hover,
.comoajudar-paragrafo a:active {
  color: #0056b3;
}

.comoajudar-paragrafo b {
  font-weight: 600;
}

/* Seção minicurso */
.secao-minicurso {
  background-image: linear-gradient(90deg, #9e4ad7, #753db6);
  color: white;
}

.botao-minicurso {
  background-color: #ffba29;
  border-bottom-color: #664a10;
  border-right-color: #664a10;
  justify-self: center;
}

/* .botao-minicurso:hover {
  border-bottom: solid 0.4rem #ffba29;
  border-right: solid 0.4rem #ffba29;
} */

.botao-minicurso:hover {
  border: solid 0.2rem #664a10;
}
/* Rodapé */
.logo-footer {
  width: 18rem;
}

.rodape-titulo,
.rodape-subtitulo,
.rodape-seg-subtitulo {
  font-weight: 600;
}

.rodape-link {
  color: #1a77a4;
}
.iconewhatsapp {
  display: fixed;
}

.rodape svg {
  width: 2.4rem;
}

.link-redessociais:hover svg {
  fill: #f60;
  stroke: #f60;
}

.rodape a.link-redessociais:link,
.rodape a.link-redessociais:visited,
.rodape a.link-redessociais:hover,
.rodape a.link-redesosciais:active {
  color: transparent;
}

.rodape a:active,
.rodape a:hover {
  color: #f60;
}

.botao-rodape {
  background-image: linear-gradient(180deg, #196c9f, #1a80a7);
  border-bottom-color: #14577f;
  border-right-color: #14577f;
}

/* .botao-rodape:hover {
  background-color: #1a80a7;
  background-image: none;
  border-bottom-color: #1a80a7;
  border-right-color: #1a80a7;
  color: white;
} */

.botao-rodape:hover {
  border: solid 0.2rem #1a77a4;
}

.form-newsletter {
  border-radius: 2.5rem;
  box-shadow: inset 0 0 0.8rem 0.15rem rgba(0, 0, 0, 0.15);
  padding: 2.5rem;
  background-color: #fff;
}

/* Fixado */
.logo-whatsapp {
  position: fixed;
  right: 1rem;
  bottom: 0.8rem;
  width: 8.5rem;
}

.logo-whatsapp:hover {
  transform: translate(0.5rem, 0.5rem);
}

.logo-whatsapp img {
  width: 100%;
}
